*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

body{
    padding: 20px;
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    box-shadow: 1px -1px 5px rgb(70, 70, 70);
    border-radius: 9px;
}
h1{
    text-align: center;
    padding: 20px 30px;

}

.gros{
    margin: 40px;
    outline: none;
    padding: 10px;
    cursor: pointer;
}

hr{
    width: 40%;
    color: #FFFFFF;
    background-color: #FFFFFF;
    padding: 3px;
    border-radius: 6px;
}

/* ******Deut du formulaire******* */
form{
    display: flex;
    transition : display 2s ease-out; 
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;

}

#name{
    width: 70%;
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    font-weight: bold;
}

#button{
    width: 20%;
    padding: 10px;
    margin: 5px;
    outline: none;
    cursor: pointer;
}
/* ********Fin du formulaire******** */

#sectionAffichage{
    display: flex;
    justify-content: center;
    background-color: rgb(94, 169, 235);
    width: 60%;
    margin:20px;
    border-bottom: 2px solid #000;
    border-radius: 6px;
}

#affiche{
    font-weight: bolder;
    color: #3c0202;
    width: 454px;
    padding: 30px;
    text-align: center;
    border-radius: 6px;
}

#copier{
    cursor: pointer;
    outline: none;
    display: flex;
    align-self: flex-end;
    padding: 10px; 
    background: #FFFFFF;
}
/* ********Manip boutton de couleur******* */
.couleur{
    transition : top 0.3s ease-out; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.nth{
    border: 1px solid #393838;
    box-shadow: 2px 2px #393838;
    margin: 25px;
    padding: 20px 25px;
    cursor:pointer;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solide #fffde7;
    outline: none;
    font-weight: 600;
}


/* Changement de taille */

@media screen and (max-width: 1040px){
    main{
        width: 90%;
    }
    
}

@media screen and (max-width: 670px){
    main{
        width: 100%;
    }
    form{
        flex-direction: column;
        align-items: center;
    }
    #button{
        width: 70%;
    }
}